{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/accueil.css">
{% endblock %}

{% block body %}

<form method="post" action="co_mutuelle.php" class="form-signin ">
    <div id="logo" class="mb-5 mx-auto text-center">
        <img class="mt-5" src="img/logo.jpg" width="200px" alt="Logo Eté Indien">
    </div>
    <h1 class="h3 mb-3 text-light text-center font-weight-normal text-dark">Espace Connexion</h1>
    <hr style="background-color:#FF5C00;">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="mdp" id="inputPassword" class="form-control text-center shadow"
        placeholder="Votre mot de passe" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg  btn-block" name="submit" type="submit">Connexion</button>
    <a href="https://www.ete-indien-editions.fr/" class="ac mt-3">Retour à l'Accueil</a>

    <p class="mt-5 text-dark text-center">&copy; Été indien 2019</p>
</form>


{% endblock %}