{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/index.css">
{% endblock %}

{% block body %}
<main>
    <div class="container-fluid">
        <div class="row justify-content-center mx-auto">
            <div class="col-xl-2" id="left">
                <ul class="menu">
                    <div class="liens" id="myBtnContainer">
                        <img src="../img/logos/logoo.png" alt="logo" class="menu-img">
                        <hr class="col-4" id="hr">
                        <li class="filt active" onclick="filterSelection('all')">TOUT VOIR</li>
                        <li class="filt" onclick="filterSelection('gym-douce')">GYM DOUCE</li>
                        <li class="filt" onclick="filterSelection('prevention-des-chutes')">PRÉVENTION DES CHUTES</li>
                        <li class="filt" onclick="filterSelection('maladies-cardio-vasculaires')">MALADIES
                            CARDIO-VASCULAIRES</li>
                        <li class="filt" onclick="filterSelection('arthrose')">ARTHROSE</li>
                        <li class="filt" onclick="filterSelection('qi-gong')">QI GONG</li>
                        <li class="filt" onclick="filterSelection('gi-gong')">GI GONG SUR CHAISE</li>
                        <li class="filt" onclick="filterSelection('gym-sur-chaise')">GYM SUR CHAISE</li>
                        <li class="filt" onclick="filterSelection('gym-douce-aidants')">GYM DOUCE POUR LES AIDANTS
                            FAMILIAUX</li>
                        <hr class="col-4" id="hr" style="top: 8px">
                    </div>
                </ul>
            </div>
            <div class="col-xl-10 col-lg-12" id="right">

                <div class="head">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="img/logo1.png" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="mobile-tel">
                                  <a class="telm" href="#">Tel: +33333333333</a><br>
                                  <a class="telm" href="mailto:bonjour@ete-indien-editions.fr">Mail: bonjour@ete-indien-editions.fr</a>
                              </div>
                        <a class="logo_mobile" href="#"><img src="img/logos/logogris.jpg" alt="logo"></a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav mr-auto">
                            <a class="home" href="#" style="color: #FF5C00 !important; "> <i class="fas fa-home fa-2x"></i>
                            </a>
                            <li class="dropdown"">
                            <button class=" dropbtn">VIDEOS</button>
                              <div class="dropdown-content" id="myBtnContainer">
                              <a id="drop" class="filt active" href="#" onclick="filterSelection('all')">TOUT VOIR</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('gym-douce')">GYM DOUCE</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('prevention-des-chutes')">PRÉVENTION DES CHUTES</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('maladies-cardio-vasculaires')">MALADIES CARDIO-VASCULAIRES</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('arthrose')">ARTHROSE</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('qi-gong')">QI GONG</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('gi-gong')">GI GONG SUR CHAISE</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('gym-sur-chaise')">GYM SUR CHAISE</a>
                                <a id="drop" class="filt" href="#" onclick="filterSelection('gym-douce-aidants')">GYM DOUCE POUR LES AIDANTS</a>
                              </div>
                            </li>
                          </ul>
                          <div class="float-right">
                            <p class="tel" href="#">Tel: +3333333333</p><br>
                            <a class="tel" href="mailto:bonjour@ete-indien-editions.fr">Mail: bonjour@ete-indien-editions.fr</a>
                          </div>
                        </div>
                      </nav>
                </div>
                <h1 class="main-title" id="top-gallery"></h1>
                <hr class="col-4" id="hr">
                <div class="bandeau">
                    <img src="#" alt="logo" class="img-fluid" id="main-photo">
                    <p class="main-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium, id ullam, ad quibusdam sequi, necessitatibus commodi laboriosam numquam saepe suscipit delectus atque illo dignissimos? Quod voluptas ipsam minima accusantium quis fugiat temporibus repellat, aspernatur minus pariatur rerum rem soluta.</p>
                </div>

                <hr class="col-4" id="hr">
                <div class="mini_menu">
                    <div class="row justify-content-center text-align-center">
                        <div class="dropdown" id="list">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catégories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="myBtnContainer">
                                <a class="dropdown-item filt active" onclick="filterSelection('all')">TOUT VOIR</a>
                                <a class="dropdown-item filt" onclick="filterSelection('gym-douce')">GYM DOUCE</a>
                                <a class="dropdown-item filt"
                                    onclick="filterSelection('prevention-des-chutes')">PRÉVENTION DES CHUTES</a>
                                <a class="dropdown-item filt"
                                    onclick="filterSelection('maladies-cardio-vasculaires')">MALADIES
                                    CARDIO-VASCULAIRES</a>
                                <a class="dropdown-item filt" onclick="filterSelection('arthrose')">ARTHROSE</a>
                                <a class="dropdown-item filt" onclick="filterSelection('qi-gong')">QI GONG</a>
                                <a class="dropdown-item filt" onclick="filterSelection('gi-gong')">GI GONG SUR
                                    CHAISE</a>
                                <a class="dropdown-item filt" onclick="filterSelection('gym-sur-chaise')">GYM SUR
                                    CHAISE</a>
                                <a class="dropdown-item filt" onclick="filterSelection('gym-douce-aidants')">GYM DOUCE
                                    POUR LES AIDANTS FAMILIAUX</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center mx-auto">

                        {% for video in videos %}
                        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-0" id="vid">
                                <div class="card" style="max-width:20rem;">
                                    <a href="#"><img src="{{ video.imgVideo }}"
                                            id="liens" alt=""></a>
                                    <div class="card-body">
                                        <a href="#"
                                            class="card-title">{{ video.titreVideo }}</a>
                                        <div class="row" id="sous-vid">
                                            <a class="genre" href="#"
                                                onclick="filterSelection()">{{ video.genreVideo }}</a>
                                            <p>{{ video.dureeVideo | date('i:s') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 

                </div>
                <br>
                <hr class="col-4" id="hr"><br>
                <center>
                   <a href="#"
                        style="background-color: #ff5c00; border: solid 1px #ccc; border-radius: 50px; margin-left:1em; padding:0.4em 0.5em; text-decoration: none; font-size: 1.4em; color: black!important">Page
                        précédente</a><a href="#"
                        style="background-color: #ff5c00; border: solid 1px #ccc; border-radius: 50px; margin-left:1em; padding:0.4em 0.5em; text-decoration: none; font-size: 1.4em; color: black!important">Page
                        suivante</a>
                </center>
                <br><br>
                <footer>
                    <div class="container-fluid" id="footer">
                        <div class="row mx-auto  justify-content-center align-text-center mt-2 mb-2">
                            <div class="col-md-2"  id="foot-title">
                                <div class="c-content-title-1"> <img
                                        src="https://www.ete-indien-editions.fr/wp-content/uploads/logo-ete-indien-editions.png"
                                        data-lazy-src="https://www.ete-indien-editions.fr/wp-content/uploads/logo-ete-indien-editions.png"
                                        class="lazyloaded" data-was-processed="true"><noscript><img
                                            src="https://www.ete-indien-editions.fr/wp-content/uploads/logo-ete-indien-editions.png" /></noscript>
                                </div>
                            </div>
                            <div class="col-md-4" id="foot-text">
                                <p class="c-about">Programmes de prévention santé par l'activité physique adaptée en présentiel &amp; vidéo pour les personnes seniors.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row mx-auto mt-2">
                                    <div class="c-links">
                                        <ul id="menu-menu-du-pied-de-page" class="c-nav">
                                            <div class="row mx-auto">
                                                <div class="col-md-6">
                                                    <li id="menu-item-285"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a
                                                            href="https://www.ete-indien-editions.fr/precautions/"
                                                            class="c-link">Précautions</a>
                                                    </li>
                                                    <li id="menu-item-302"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a
                                                            href="https://www.ete-indien-editions.fr/regarder-seances-television/"
                                                            class="c-link">Comment
                                                            regarder sur votre TV ?</a></li>
                                                    <li id="menu-item-255"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255"><a
                                                            href="https://www.ete-indien-editions.fr/contact/" class="c-link">Contact</a>
                                                    </li>
                                                </div>
                                                <div class="col-md-6">
                                                    <li class="fon" id="menu-item-284"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-284">
                                                        <a href="https://www.ete-indien-editions.fr/protection-donnees-personnelles/"
                                                            class="c-link">Protection
                                                            des données personnelles</a></li>
                                                    <li class="fon" id="menu-item-258"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a
                                                            href="https://www.ete-indien-editions.fr/mentions-legales/"
                                                            class="c-link">Mentions
                                                            Légales</a></li>
                                                            <li id="menu-item-257"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a
                                                            href="https://www.ete-indien-editions.fr/foire-aux-questions/"
                                                            class="c-link">Foire aux
                                                            Questions</a></li>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-auto">
                            <p class="c-contact">© OJ2B - SAS au capital de 1000€
                                enregistrée au
                                RCS de Sedan sous le numéro de SIRET 827 524 737 00018 <br>Siège social : 111 boulevard Gambetta
                                08000
                                Charleville Mézières</p>
                        </div>
                        <div class="row mx-auto justify-content-center align-text-center">
                            <a href="https://www.youtube.com/channel/UCEpjfMrcnR8dRO_CBYTccHA" class="fonta"> <i class="fab fa-youtube fa-2x" ></i>
                            </a>
                            <a href="https://www.facebook.com/eteindieneditions/" class="fonta"> <i class="fab fa-facebook fa-2x"></i>
                            </a>
                            <a href="https://twitter.com/editionsete" class="fonta"> <i class="fab fa-twitter fa-2x"></i> </a>
                            </ul>
                        </div>
                    </div>
                    
                </footer>
            </div>
        </div>
    </div>
</main>
{% endblock %}